body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #333333, #999999);
}

nav {
    position: relative;
}

.navbar {
    background-color: #222222;
    color: #fff;
    position: relative; /* Enable absolute positioning for children */
    height: 10vh; /* Set a fixed height for the navbar */
}

.navbar-icon {
    padding-left: 1vw;
    position: absolute;
    left: 5vw; /* Adjust as needed */
    top: 50%;
    transform: translate(0,-50%);
}

.navbar img{
    max-width: 10vw;
    max-height: 10vh;
}
.navbar-icon h1 {
    display: inline-block;
    padding-left: 1vw;
}

.navbar-links {
    position: absolute;
    right: 5vw; /* Adjust as needed */
    top: 50%;
    transform: translate(0,-50%);
}

.navbar-links a {
    background-color: #997300;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-links a:hover {
    background-color: #b8860b; /* Change background color on hover */
    border-color: #999; /* Change border color on hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add box shadow on hover */
}

.navbar li{
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.product-card-holder {
    padding-top: 5vh;
    padding-bottom: 5vh;
    position: relative;
    text-align: center;
}
.product-card {
    width: 32vw;
    position: relative; /* Allow Product Sale Absolute */
    display: inline-block; /* Display images inline */
    vertical-align: middle; /* Align images vertically within the container */
    margin: 20px 20px; /* Add some spacing between images */
    border-radius: 15px;
    border: 2px solid #b8965a;
    background-color: #222222;
    padding-bottom: 15px;
}

.product-card a {
    text-decoration: none;
    color: #b8965a;
}

.product-card h3 {
    font-style: italic;
    color: #b8965a;
    font-size: 1vw;
}

.product-card p {
    text-emphasis: none;
    color: white;
}

.product-card-sale {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: #997300;
    text-align: center; /* Center text horizontally */
    color: white;
    font-size: 1vw;
    padding-left: 1%;
    padding-top: 1%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.product-card-new{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: #997300;
    text-align: center; /* Center text horizontally */
    color: white;
    font-size: 1vw;
    padding-left: 1%;
    padding-top: 1%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #997300;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.product-card img {
    max-height: 100%;
    max-width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

/* .product-card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} */

.product-card button {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #999;
}

.product-card button:hover {
    background-color: #e0e0e0; /* Change background color on hover */
    border-color: #999; /* Change border color on hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add box shadow on hover */
}

footer {
    position: absolute;
    background-color: #222222;
    width: 100vw;
    height: 20vh;
}

.hover-button-container{
    position: absolute;
    width: 100%;
    height: 45%;
    left: 0;
    opacity: 0;
    padding-top: 20%;
}

.hover-button {
    margin: 1vw;
    font-size: 1.5vw;
    width: 3vw;
}


.hover-button-container:hover {
    opacity: 1; /* Show the buttons on hover */
}

.login-container {
    position: relative;
    text-align: center;
    height: 100vh;
}

.login-left-half-page {
    position: absolute;
    width: 50%;
    left: 0;
    display: inline-block;
    background: linear-gradient(to bottom, #333333, #999999);
    height: 100vh;
}

.login-left-half-page p {
    font-size: 1.2vw;
    color: black;
}

.login-right-half-page {
    position: absolute;
    width: 50%;
    right: 0;
    display: inline-block;
    height: 100vh;
    background-color: #282828;
}

.login-right-half-page .user-icon {
    margin-top: 18vh;
    font-size: 10vw;
    color: white;
    padding-left: 6%;
}

.login-right-half-page h1 {
    font-size: 4vw;
    color: white;
}

.login-right-half-page p {
    font-size: 1.5vw;
    color: white;
}

.login-right-half-page i {
    color: white;
}

.remember-me {
    font-size: 1.5vw;
}

.remember-me a {
    text-decoration: none;
    padding-left: 14vw;
    font-size: 1.5vw;
}

.line-box-left {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 30%; /* Adjust width as needed */
    height: 2px; /* Adjust height as needed */
    background-color: black; /* Adjust color as needed */
}

.line-box-right {
    top: 50%;
    position: absolute;
    right: 10%;
    width: 30%; /* Adjust width as needed */
    height: 2px; /* Adjust height as needed */
    background-color: black; /* Adjust color as needed */
}

.connect-with-container {
    position: relative;
    text-align: center;
}

.connect-with-container p {
    display: inline-block;
    padding: 0 10px; /* Adjust padding as needed */
}

.login-field {
    height: 3vh;
    margin: 1vw;
    width: 38vw;
}

.login-button {
    width: 38vw;
    height: 2.5vw;
    margin-top: 5vh;
    font-size: 1vw;
}

.login-left-half-page h1 {
    margin-top: 20vh;
}

.login-left-half-page i {
    padding: 1vw;
    font-size: 3vw;
}